@config "../tailwind.config.ts";

@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --radius-lg: var(--radius);
}

:root {
  --radius: 0.625rem;

  --background: 0 0% 100%;
  --foreground: 222.2 84% 4.9%;

   --primary: 36 53% 78%;
  --primary-foreground: 222.2 47.4% 11.2%;

  --secondary: 210 40% 96.1%;
  --secondary-foreground: 222.2 47.4% 11.2%;

  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 210 40% 98%;

  --border: 214.3 31.8% 91.4%;
  --input: 214.3 31.8% 91.4%;
  --ring: 222.2 84% 4.9%;
}

.dark {
  --background: 222.2 84% 4.9%;
  --foreground: 210 40% 98%;
}


  /* Root */
  .root-container {
  @apply flex min-h-screen flex-1 flex-col bg-pattern bg-cover bg-top bg-background px-5 xs:px-10 md:px-16;
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
